---
interface Props {
  title: string
  skills: string[]
}

const { title, skills } = Astro.props as Props
---

<div class="mb-2 flex flex-col gap-y-2 md:flex-row md:gap-x-5 md:gap-y-0">
  <h3 class="my-1 w-1/5 text-base font-medium">{title}</h3>
  <div class="flex flex-row flex-wrap gap-x-2 gap-y-2 md:w-4/5">
    {
      skills.map((skill: string) => (
        <kbd class="rounded-xl bg-muted px-2 py-1 text-sm font-light">{skill}</kbd>
      ))
    }
  </div>
</div>
